# This file exists within 'pypi-and-die':
#
#   https://github.com/hotoffthehamster/pypi-and-die

# Packaging — `make dist`.
build/
dist/
*.egg-info/
.eggs/

# Python byte code.
*.py[cod]
__pycache__/

# Testing/CI tasks.
.pytest_cache/
.tox

# Coverage — `make coverage`.
.coverage
# Coverage — `make coverage-html`.
htmlcov/
# Coverage — `codecov` https://codecov.io.
coverage.xml

# User's personal .ignore (e.g., .ignore.example).
.ignore

# Optional private DEV Makefile.
Makefile.local

# Sphinx Docs — `make docs`.
docs/_build/
# `make docs` generates at least two files for the API reference, an
# index file (modules.rst), and an API reference (project-name.rst).
#   docs/modules.rst
#   docs/pypi_and_die.rst
# We could exclude these from the repo, because generated, but don't, so
# that they'll appear in `git ls-files` diffs between projects that share
# the PyPI-and-Die boilerplate, which is helpful when syncing changes.
#
# You might also want to tweak the generated docs/pypi_and_die.rst file,
# to, say, tweak the TOC. For an example, see:
#   docs/pypi-and-die.rst

# Test output for Vim quickfix — `make test-local`.
.make.out

# Translations files.
*.mo

