# USAGE: `/bin/cp .ignore.example .ignore` and personalize.

/.git/

# Packaging — `make build`.
/dist/

# Testing/CI tasks.
/.pytest_cache/
/.tox/

# Coverage — `make coverage`.
/.coverage
# Coverage — `make coverage-html`.
/htmlcov/
# Coverage — `codecov` https://codecov.io.
/coverage.xml

# Sphinx Docs — `make docs`.
/docs/_build/
/docs/_themes/sphinx_rtd_theme/

# Test output for Vim quickfix — `make test-local`.
/.make.out

# Localization file.
/messages.pot

# Bytecode.
/*.py[cod]
__pycache__/

# Editable pyproject.toml and .venv-<project> — `make develop`.
/.editable/
/.venv*/

