# vim:tw=0:ts=2:sw=2:et:norl:nospell:ft=gitignore
# Project: https://github.com/doblabs/ <varies>
# Pattern: https://github.com/doblabs/easy-as-pypi#🥧
# License: MIT

# USAGE: `/bin/cp .ignore.example .ignore` and personalize.

/.git/

# Packaging — `make build`.
/dist/

# Testing/CI tasks.
/.pytest_cache/
/.tox/

# Coverage — `make coverage`.
/.coverage
# Coverage — `make coverage-html`.
/htmlcov/
# Coverage — `codecov` https://codecov.io.
/coverage.xml

# Sphinx Docs — `make docs`.
/docs/_build/
/docs/_themes/sphinx_rtd_theme/

# Localization file.
/locale/messages.pot
# Translations files.
*.mo
# Leaving: *.po

# Bytecode.
*.py[cod]
__pycache__/

# Editable pyproject.toml and .venv-<project> — `make develop`.
/.pyproject-editable/
.venv*/

# DX artifacts.
# - USYNC: Matches VIM_QUICKFIX_FLAKE8 from `make flake8`.
#   - If you use a different path, add yours to .git/info/exclude
/.vimquickfix.flake8
# - USYNC: Matches VIM_QUICKFIX_PYTEST from `make test-local`.
#   - If you use a different path, add yours to .git/info/exclude
/.vimquickfix.pytest

